.head-img {
    background-image: url('/assets/image/Mask-group.png');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.object-fit-cover {
    object-fit: contain;
}

.logo {
    width: 13rem;
    margin: 55px;
}

.width {
    width: 42rem;
    margin: 16rem 16rem 2rem 16rem;
}


.width-shearch {
    width: 4rem;
    height: 4rem;
    pointer-events: none;

}

.bg-white {
    width: 5rem;
}

.custom-search-bar {
    width: 67%;
    height: 5rem;
    outline: none;
    margin-bottom: 10rem;
}

.form-control {
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.custom-input {
    color: #494747;
    font-weight: 100;
    font-size: 16px;
    padding: 0;
    padding-left: 4rem;
}


.custom-input:focus {
    box-shadow: none;
    outline: none;
    color: #494747;
    padding-left: 4rem;
}

.custom-input::placeholder {
    color: #494747;

}

/* Styles pour le dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    width: 10rem;
    height: 3.5em;
    background-color: white;
}

.dropdown-menu button {
    width: 2rem;
    height: 38px;

}


/* Styles pour afficher le contenu du dropdown au survol */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 157px;
    padding: 10px;
    border: 1px solid white;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 10rem;
    position: absolute;
    top: 42px;
    border: none;

}


/* Styles pour l'icône de flèche vers le bas */
.arrow-icon {
    margin-left: 10px;
}

.icon-gray {
    color: rgb(186, 186, 186);
}

.custom-form-group {
    display: flex;
    align-items: center;
    border: 1px solid rgb(186, 186, 186);
}

.custom-btn {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 0px;
}

.custom-font-light {
    font-weight: 300;
}

.width-shearch-bis {
    width: 2rem;
    height: 2rem;
    pointer-events: none;

}

.border-light-input {

    border-radius: 0px;
    ;
}

.form-control:focus {
    border-radius: 0px;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: white;
    border-color: white
        /* background-color: var(--bs-btn-hover-bg); */
        /* border-color: var(--bs-btn-hover-border-color); */
}

.btn-border-none {
    border: none;
}

.form-control:focus {
    outline-width: 0;
    box-shadow: 0 0 0 0px lightslategrey;
    /* Bordure personnalisée pour le focus */
}

.img-card {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

article {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 2rem;
    background: white;
    border-radius: 15px;
}

.recipes {
    /* max-width: 100%; */
    flex-wrap: wrap;
}

.anto {
    font-family: "Anton", sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 21px;
    margin: 1rem;
    margin-top: -2rem;
    margin-left: 15px;
}

.light-style {
    font-size: 13px;
    margin-left: 1rem;
    color: #777777;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    margin-bottom: 0;
}

.recipes p {
    padding: 1rem;
    font-weight: 300;
    color: black;
    font-family: "Anton", sans-serif;
    font-size: 15px;
}

.nowrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.columnF {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 9px -15px 3px 15px;

}

.weight-light {
    font-weight: 300;
    font-family: "Anton", sans-serif;
    font-size: 14px;
}

.weight-lighter {
    font-size: 14px;
    font-weight: 200;
    font-family: "Anton", sans-serif;
    color: #ababab;
}

.times {
    position: relative;
    left: 19rem;
    display: flex;
    bottom: 19rem;
    background-color: #FFD15B;
    width: 19%;
    height: 1rem;
    border-radius: 15px;
    align-items: center;
}

.selected-tag {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 11%;
    padding: 13px 8px;
    background-color: #FFD15B;
    color: black;
    border-radius: 14px;
    cursor: pointer;
    margin: -left;
    margin-left: 3.2rem;
}

.mr-5 {
    margin-right: 4rem;
}

.mr-1 {
    margin-left: 1rem;
}

ul,
li {
    list-style: none;
    margin-top: none;
}

dl,
ol,
ul {
    margin-top: 14px;
    margin-bottom: 1rem;
}

ul {
    max-height: 350px;
    overflow: auto;
}

.category-element .tagDropdown {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    margin-top: 11px;
    padding: 10px;
    background-color: #FFD15B;
}


.dropdown .fa-chevron-down {
    font-weight: 900;
    transition: transform 0.3s;
}

.dropdown:hover .fa-chevron-down {
    font-weight: 900;
    transform: rotate(180deg);
}

.bg-white {

    cursor: pointer;
    background-color: yellowgreen
}


.text-white .fa-2x:hover {
    background-color: #FFD15B;
}

#clear-button {
    display: block;
    border: 0px;
    background: white;
    color: rgb(186, 186, 186);
    font-size: 23px;
}